{% extends 'base_template.html' %}

{% block title %}{{novel.title}}{% endblock %}

{% block header %}
    <div class="header-wrapper">
        <h1>My Novels</h1>
    </div>
{% endblock %}

{% block main %}
{% load static %}
<div class="back-to-previous-page-wrapper">
    <a href="{% url 'my_novels:list' %}" class="back-to-previous-page"> < Page List</a>
</div>
<div class="card-detail">
    <div class="card" href="#">
        <h2>{{novel.title}}</h2>
        <div class="genres">
            {% for genre in novel.genres.all %}
            <div class="genre">{{genre.name}}</div>
            {% endfor %}
        </div>
        <p>
            {{novel.body}}
        </p>
        <a href="#"><img class="icon icon-trash delete-novel" src="{% static 'images/trash.svg' %}" /></a>
    </div>
</div>
{% endblock %}